.app-start-screen {
    text-align: center;
}

.app-start-screen-title,
.app-start-screen-btn-container {
    font-size: 10vw;
    box-sizing: border-box;
}

.app-start-screen-title {
    padding: 30px 0;
}

.app-start-screen-btn-container {
    margin-top: 20px;
}

.app-start-game-btn {
    border: 0;
    color: white;
    background-color: darkgreen;
    cursor: pointer;
    font-size: 10vw;
    padding: 25px 34px;
    border-radius: 12%;
    box-sizing: border-box;
}

.app-start-screen-config {
    font-size: 6vw;
}

.option-container {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    padding: 20px 0;
}

.option {
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 12%;
    margin-right: 5px;
    cursor: pointer;
}

.option:last-child {
    margin-right: 0;
}

.option.option-default {
    color: black;
    background-color: white;
}
