.app-start-screen-title,
.app-start-screen-btn-container {
    font-size: 10vw;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.app-start-game-btn {
    border: 0;
    color: white;
    background-color: darkgreen;
    cursor: pointer;
    font-size: 10vw;
    padding: 25px 34px;
    border-radius: 12px;
    box-sizing: border-box;
}
