
.app-board {
    width: 100vw;
    height: 100vw;
    max-height: 100vh;
    max-width: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.app-board-timer {
    position: fixed;
    left: 0;
    top: 0;
    transition: 1s ease;
}

.app-board-cell {
    width: 22vw;
    height: 22vw;
    max-height: 22vh;
    max-width: 22vh;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.2s ease;
    border: 1px solid black;
    border-radius: 5px;
}
