
.app-board {
    width: 100vw;
    height: 100vw;
    max-height: 100vh;
    max-width: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.app-board-timer {
    position: fixed;
    right: 0;
    top: 0;
    transition: 1s ease;
}

.app-board-cell {
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.2s ease;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.app-board.size-4 .app-board-cell {
    width: 23%;
    height: 23%;
}
.app-board.size-3 .app-board-cell {
    width: calc(92% / 3);
    height: calc(92% / 3);
}
.app-board.size-2 .app-board-cell {
    width: 46%;
    height: 46%;
}
