html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
}

body {
  box-sizing: border-box;
  padding: 20px 25px;
}

.app-board {
  margin-top: 10px;
  overflow: hidden;
}

.app-board-cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid gray;
  float: left;
  margin: 1px;
}

.app-board-cell:hover {
  border: 1px solid black;
}
